@import "tailwindcss";

@theme {
  --color-primary: #00ABC1;
  --color-secondary: #00777C;
  --color-tertiary: #90E0EF;
  --color-quaternary: #CAF0F8;
  --color-dark: #03045E;
  --color-light: #FEFFFE;
  --color-text: #131B23;

  --font-kanit: 'Kanit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-kanit);
  background-color: var(--color-light);
  color: var(--color-text);
}

.gradient-1 {
  background: linear-gradient(to right, #00ABC1, #00777C, #03045E);
}

.gradient-2 {
  background: linear-gradient(to bottom right, #90E0EF, #00ABC1, #03045E);
}

.gradient-3 {
  background: linear-gradient(to right, #CAF0F8, #90E0EF, #00777C);
}

.gradient-4 {
  background: linear-gradient(to bottom right, #90E0EF, #00ABC1, #03045E);
}

.gradient-5 {
  background: linear-gradient(to top left, #03045E, #00777C, #CAF0F8);
}

@media screen and (max-width:900px) {
  .sidebar-option p {
    display: none;
  }
}